<!DOCTYPE html>
<html>
<head> 
  <meta charset="utf-8" /> 
  <meta name="renderer" content="webkit"> <!-- tell 360 browser to use chrome core -->
  <link href="{{ STATIC_URL }}css/simple.css" rel="stylesheet" type="text/css" /> 
  {% block app_css %}{% endblock %}
  {% block page_css %}{% endblock %}
  <title>{% block title %}{% endblock %} </title> 
</head> 

<body>
<!--[if (IE)&(lt IE 10)]>
  <div class="hint"><p>
    检测到您在使用较低版本的IE浏览器, 为了更好的体验, 建议您使用
    <a href="http://chrome.360.cn/" target="_blank">360极速</a>、
    <a href="http://www.firefox.com.cn" target="_blank">火狐</a> 或
    <a href="http://www.opera.com/zh-cn" target="_blank">欧朋</a> 
  </p></div>
<![endif]-->
<!-- <div id="wrapper"><div class="oi"> -->
<div id="nav">
  <ul class="hmenu fl"> 
    <li><a href="{{ url('home') }}" title=""> <i class="fa fa-home fa-fw"></i>首页</a></li> 
    <li><a href="{{ url('guide') }}" title=""> <i class="fa fa-question fa-fw"></i>考试须知 </a></li>    
  </ul> 

  <ul class="hmenu fr popup">
    <li><a href="javascript:void(0);" title=""> <i class="fa fa-cog fa-fw"></i>操作</a></li> 
  </ul> 

  <ul class="dynamic_menu vmenu logout" style="width:auto">
    <li><a href="{{url('accounts:login')}}" title=""> 登录 </a></li> 
    <li><a href="{{url('accounts:register')}}" title=""> 注册 </a></li>
  </ul> 

  <ul class="dynamic_menu vmenu login" style="width:auto">
    <li><a href="{{url('accounts:profile')}}" title=""> 我的账号 </a></li> 
    <li><a href="{{url('accounts:logout')}}" title=""> 注销 </a></li>
  </ul> 

  <div class="clear"></div>
</div>

{% block main %}{% endblock %} 

<div class="clear"></div>
<!-- </div></div> -->

<div class="footer"><div class="oi">
网站备案号：{{ICP}}<br/>
{{now()}}
</div></div>

<script src="http://mat1.gtimg.com/www/asset/lib/jquery/jquery/jquery-1.11.1.min.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/button.js"></script> 
{% block app_js %}{% endblock %}
{% block page_js %}{% endblock %} 
<script>{% block hardcode_js %}{% endblock %}</script>  
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[a] = m[a] || function() {
            (m[a].a = m[a].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = i + '?v=' + new Date().getUTCDate();
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
    _MEIQIA('entId', 9465);
</script>
</body>
</html>